.container {
  margin: 3rem;
  @include atLarge {
    margin: 10rem 20rem;
    max-width: 120rem;
  }

  //   Shapes

  &__circle {
    aspect-ratio: 1;
    border-radius: 20rem;
    object-position: top;
  }
}
