.section {
  &__heading {
    text-align: center;
    font-family: $header-font;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $primary;
    @include atLarge {
      font-size: 3rem;
    }
  }

  &__subheading {
    text-align: center;
    font-family: $header-font;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $secondary-dark;
    @include atLarge {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  }

  &__par {
    font-family: $text-font;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 1.25;
    @include atLarge {
      font-size: 2rem;
    }
  }

  // Modifiers
  &--center {
    text-align: center;
  }
}
