.navbar {
  width: 100%;
  height: 8rem;
  background-color: $primary;
  @include slideInLeft();

  // Style elements of WP generated menu
  &__menu {
    height: 100%;

    & > div {
      height: 100%;
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      @include atLarge {
        max-width: 100rem;
        margin: auto;
        flex-direction: row;
        height: 100%;
      }
    }

    a {
      font-family: $text-font;
      font-size: 2rem;
      text-transform: uppercase;
      color: #fff;
      padding: 2rem 5rem;
    }
  }
}
